.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
}

.mainContent {
  flex: 1 0 auto;
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.footer {
  flex-shrink: 0;
}
