.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in-out;
}

.projectContainer:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08); /* subtle shadow effect on hover */
}

.projectImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.projectTitle {
  font-size: 1.5em;
  font-weight: 500; /* not too bold, aligning with Apple's style */
  margin-bottom: 10px;
}

.projectDescription {
  color: #666666; /* slightly lighter text for description */
  margin-bottom: 10px;
}

.projectLink {
  color: #000000; /* black link color */
  transition: border-bottom 0.2s ease-in-out;
}

.projectLink:hover {
  border-bottom: 1px solid #000000; /* underline effect on hover */
}
